.add{
height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    
    padding: 2rem;
    font-size: x-large;
    border: 2px solid black;
    border-radius: 12px;
}
.form input{
   
    border-radius: 12px;
    border-style: none;
    background-color: rgba(128,128,128,0.45);
    height: 2rem;
}
#ispaid{
    width: fit-content;
}
.ispaid select{
    border-radius: 12px;
    height: 100%;
    border-style: none;
    font-size: large;
    margin-left: 0.5rem;
}
.btn--{
    width: max-content;
    align-self: center;
    margin-top: 1rem;
    padding: 5px;
    border-radius: 12px;
    border: none;
    background-color: blue;
    color: white;
    font-size: large;
}
.btn--:hover{
    transform: scale(1.02);
    transition-delay: 1s;
    
}