.navbar{
height: 10vh;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid black;

}
.navbar > a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: x-large; 
    padding: 2rem;
   margin: 1rem;
  

    
}
.nav-titles{
    box-sizing: border-box;
}



.none{
    display: none;
}